@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-Phudu{
    font-family: 'Phudu' !important;
}
